$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.logo-image{
    width: 150px;
    height: 45px;
    margin-top: -13px;
}


.mission-image{
    width: 200px;
    height: 40px;
    margin-top: -17px;
    margin-left: 45px;
    margin-bottom: 5px;
}

.sm-logo{
    width: 20px;
    height: 20px;
    // margin-top: -17px;
    // margin-left: 45px;
    // margin-bottom: 5px;
}

.ft{
    color: white;
    margin-top: 10px;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: black;
    text-shadow: 1px 3px black
}

.first{
    margin-right: 15px;
    float: left;
}
.second {
    overflow: hidden;
    opacity: .98;
}

.third {
    margin-top: 10px;
    height: 65px;
}

.header{
color: white;
background-color: rgb(107, 195, 76);
}

body {
    background-image: url(https://imgur.com/1B67FPt.png)
}

